body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	background: #F2E1C2;
}




h1,h2,h3,h4,h5,h6{
	font-family: 'Source Serif Pro', serif;
	font-weight: 600;
}

h1{
	font-size: calc(2.5rem + 2.5vw);
	line-height: 1;
}

h2{
	font-size: calc(0.75rem + 0.5vw);
	color: #3C5944;
}

p.lead{
	font-weight: 400;
}

@media (min-width: 768px) {
	p.lead{
		text-align: justify;
	}
}

small, svg{
	font-family: 'Lexend', sans-serif;
	font-weight: 400;	
}

header{
	min-height: 390px;
	height: 60vh;
	background: linear-gradient(rgba(242, 225, 194,0.5), rgba(242, 225, 194,1)), url(images/bg-header.png);
	background-position: center bottom;
	background-size:cover;
	background-repeat: no-repeat;
}

footer{
	background: black url(images/bg-footer.png) no-repeat center top;
	background-size:100% auto;
	padding-top:20vw;
}