body{
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	color: #333;
	background: #eaeddc;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'DM Serif Text', serif;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

p.lead{
	font-weight: 400;
	text-align: justify;
}

small, svg{
font-family: 'Lexend', sans-serif;
font-weight: 400;	
}

header{
	background: url(images/bg-start.png), url(images/bg-end.png);
	background-position:left top, right top;
	background-repeat: no-repeat;
	background-size: auto 100%;
	min-height: 400px;
	height: 70vh;
}

footer{
	background: #000 url(images/bg-footer.png) no-repeat center top;
	background-size:100% auto;
	padding-top:35vw;
}